.navbar {
    background: darkgray;
    width: 100%;
    height: 100px;
}



.latest-articles{
    width: 50%;
    height: 100%;
    background: gray;
    border: black solid 1px;
}

.latest-articles-top{
    display: flex;
    width:100%;
    height: 750px;
}

.latest-articles-bottom{
    display: flex;
    width:100%;
    height: 570px;
}
.additional-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: green;
    border: 1px #333 solid;
    width: 100%;
    height: 100vh;
}
.join-1{
    grid-column: 2/3;
    background-color: red;
    border: 1px #333 solid;
    width: 100%;
}
